<h1 mat-dialog-title>API is exhausted</h1>
<div mat-dialog-content>GitHub API's rate limit got exceeded 😢. <br>
    This app uses <code>non-authenticated</code> requests for the GitHub API, which means lower rate limit. <br>
    <b>But don't worry!</b> It needs just at max one hour to reset. <br><br>

    Probably the reason is I'm kinda testing and learning some 
    <b><a target="_blank" href="https://rxjs.dev/">RxJS</a></b> operators plus concatenating multiple requests in order 
    to give the user a smooth experience when looking for profile info.<br><br>

    Meanwhile you can test the other features inside this APP 😎.<br>
    <b>You'll be redirected to the home</b> (just to save you from random bugs caused by the ratio exceement).
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close style="margin: 0 0 0 auto;">Close</button>
</div>