<div id="panel">
  <mat-vertical-stepper [linear]="false" #stepper color="accent">
    <mat-step label="test">
      <ng-template matStepperIcon="a" matStepLabel>Layers configuration</ng-template>
      <div>
        <button mat-button color="accent" class="ms-0" matStepperNext>Go to settings</button>
      </div>
      <div *ngFor="let layerGroup of layersConfig">
        <h5 class="text-muted">{{ layerGroup.displayName }}</h5>
        <mat-slider class="me-2" min="0.1" max="1" step="0.1" (change)="onOpacityChange($event, layerGroup.name)" [(value)]="layerGroup.opacity"></mat-slider><label>Opacity: {{ layerGroup.opacity }}</label>
        <div class="layer-config" *ngFor="let layer of layerGroup.layers">
          <mat-checkbox 
            (change)="onLayerVisibleChange($event, layer.key, layerGroup.name)" 
            [checked]="layer.visible" 
            >{{ layer.key | fixCCAAnames }}</mat-checkbox>
        </div>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Settings</ng-template>
      <div>
        <button mat-button color="accent" matStepperPrevious>Go to layers configuration</button>
      </div>
      <button class="mt-4" mat-raised-button color="warn" (click)="onRestoreDefaultConfiguration()">Reset to default configuration</button>
    </mat-step>
  </mat-vertical-stepper>
</div>