/* ::ng-deep .mat-typography {
    min-height: 45vh;
    height: fit-content !important;
    max-height: 70vh !important;
} */

.column-name {
    width: 60%;
}

@media (min-width: 708px) and (max-width: 1050px) {
    .column-name {
        width: 50%;
    }
}

@media (max-width: 708px) {
    .column-hide-sm {
        display: none;
    }
}