.tasklist-component {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 70px;
  padding-top: 50px;
  width: 100%;
  height: 100vh;

  z-index: 5;

  & > .tasklist-component-wrapper {
    max-width: 1020px;
    margin: 0 auto;
    padding-inline: 10px;
  }
}

.tasklist-logout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 70px;
  padding-top: 20px;

  z-index: 10;

  & .logout-section {
    max-width: 1020px;
    margin: 0 auto;
    
    padding: 10px;
  
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
  
    & p {
      margin: 0;
    }
  }
}

.custom-firebase-ui {
  margin-top: 2em;
  height: 60vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-firebase-ui-content {
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 9px 0 rgb(0 0 0 / 12%);
}

.custom-firebase-ui-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
  position: relative;
  top: -15px;
  left: 15px;
  width: fit-content;
  background: linear-gradient(90deg, 
    rgba(255, 255, 255, 0) 0%, 
    white 15%, 
    white 85%, 
    rgba(255, 255, 255, 0) 100%);
  padding-inline: 1em;
}


@media (max-width: 450px) {
  .tasklist-component { 
    padding-left: 0;
    padding-top: 80px;
  }

  .tasklist-logout {
    padding-left: 0;
    padding-top: 40px;
  }

  .logout-section { 
    margin-top: 1em;
  }
}

@media (max-height: 380px) {
  .custom-firebase-ui {
    margin-top: 2em;
  }
}