<!-- TODO:
  TASKS
  - CREATE
  - RETRIEVE
  - UPDATE (marcar como completa / incompleta)
  - DELETE

  MISC
  - Spinner personalizado?
-->

<!-- <div class="tasklist-container"> -->
  <div *ngIf="userLoading">
    <div class="loading-spinner">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
  
  <div class="tasklist-logout">
    <div *ngIf="user && !userLoading" class="logout-section">
      <!-- LOGOUT -->
      <p>Welcome <b>{{ user.displayName ? user.displayName : user.email }}</b>!</p>
      <button class="btn btn-secondary" (click)="onUserSignOut()">Logout</button>
    </div>
  </div>
  
  <div 
  class="custom-firebase-ui"
  [hidden]="user || userLoading"
  >
    <div class="custom-firebase-ui-content"   
      >
      <h3 class="custom-firebase-ui-title text-muted">Login</h3>
      <firebase-ui></firebase-ui>
    </div>
  </div>
  
  <!-- Index con listado de tareas -->
  <div class="tasklist-component"
  [@taskIndexFadeInOut]="displayState"
  >
    <div class="tasklist-component-wrapper">
      <app-task-index
      [hidden]="displayIndex < 2"
    ></app-task-index>
    </div>
  </div>

  
  
  <!-- Form para crear una NUEVA tarea -->
  <div class="tasklist-component"
  [@taskFormSlideInOut]="displayState"
  >
    <div class="tasklist-component-wrapper">
      <app-task-form 
      [hidden]="displayIndex < 2"
      ></app-task-form>
    </div>
  </div>
  
  <!-- Form para editar una tarea YA EXISTENTE -->

<!-- </div> -->
