.user-profile-card {
    user-select: none;

    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;

    padding: 1em;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user-main-info {
    display: flex;
    gap: 20px;
}

.user-details {
    display: flex;
    justify-content: space-between;

    gap: 20px;
    flex-wrap: wrap;
}
.user-details p {
    min-width: 160px;
}


.user-profile-img {
    max-width: 150px;
}
.user-profile-img img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
}

.user-profile-info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.stats {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;

    padding: 10px;
    cursor: pointer;

    flex-grow: 1;
    text-align: center;
    transition: 200ms ease-in-out;
}

.stats.active {
    background-color: rgba(111, 193, 255, 0.364);
    flex-grow: 4;
}

.stats:hover:not(.active) {
    background-color: rgba(111, 193, 255, 0.131);
}

.svg-info-icon {
    max-width: 18px;
}

@media (max-width: 500px) {
    .user-main-info {
        flex-direction: column;
    }

    .user-profile-img {
        align-self: center;
    }

    .user-profile-info {
        text-align: center;
    }

}