#mapa {
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 70px;

  width: 100vw;
  height: 100vh;
}

#tooltip {
  padding: 1em;
  background-color: rgba(245, 245, 245, 0.8);
  border: 1px solid rgb(255, 64, 129);
  border-radius: 5px;

  font-family: Roboto;
}

#panel-toggler {
  position: fixed;
  z-index: 990;
  top: 15px;
  left: 100px;
}

#map-center {
  position: fixed;
  z-index: 5;
  top: 15px;
  left: 210px;
  background-color: white;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

#panel {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  padding-left: 70px;

  background-color: rgb(255, 255, 255);

  width: 100vw;
  height: 100vh;
}

#feature-info {
  position: fixed;
  z-index: 5;
  bottom: 0;
  left: 0;
  padding-left: 70px;

  background-color: rgb(255, 255, 255);

  width: 100vw;
  height: 20vh;
  min-height: 300px;
}

@media (max-width: 450px) { 
  #mapa {
    padding-left: 0;
    padding-top: 70px;
  }

  #panel-toggler {
    left: 30px;
    top: 85px
  }

  #map-center {
    top: 85px;
    left: 140px;
  }

  #panel {
    padding-left: 0;
    padding-top: 70px;
    padding-right: 0;
  }

  #feature-info {
    padding-left: 0;
    padding-right: 0;
  }
}