<div id="mapa">
  <div id="tooltip"></div>
</div>

<!-- Mostrar / ocultar panel -->
<button 
id="panel-toggler"
class="ms-3" 
mat-raised-button 
color="accent"
(click)="adminPanel = !adminPanel">{{ adminPanel ? 'Close panel' : 'Open panel' }}</button>
<button 
id="map-center"
class="ms-3" 
mat-stroked-button 
color="accent"
(click)="centerMap()">Center view</button>


<!-- Panel administrador mapa -->
<app-admin-panel
id="panel"
[@adminPanel]="adminPanel"
></app-admin-panel>

<!-- Mostrar info de la feature seleccionada -->
<app-feature-info
id="feature-info"
[@featureInfo]="featureInfo"
[featureInfo]="featureInfo"
[properties]="featureProperties"
(closeFeatureInfo)="onCloseFeatureInfo($event)"
></app-feature-info>