.error-msg {
  color: darkred;
  font-size: 12px;
}


.task-form {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;

  & .main-info, & .additional-info {
    display: grid;
    gap: 20px;
  }

  & .main-info {
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-template-areas: 
      "act act act act act act"
      "typ typ pri par par par";

    & > .activity {
      grid-area: act;
    }

    & > .type {
      grid-area: typ;
    }

    & > .price {
      grid-area: pri;
    }

    & > .participants {
      grid-area: par;
    }
  }

  & .additional-info {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-areas: 
      "lin lin lin lin";

    & > .link {
      grid-area: lin;
    }

    & > .accesibility {
      grid-area: acc;
    }
  }
  
  & .form-buttons {
    display: flex;
    gap: 10px;
  }

}

@media (max-width: 800px) {
  .task-form {
    & .main-info {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-template-areas: 
        "act act act"
        "typ typ pri"
        "par par par";
    }
  
  }
}

@media (max-width: 350px) {
  .task-form {
    & .main-info {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      grid-template-areas: 
        "act"
        "typ"
        "pri"
        "par";
    }
  }
}