<!-- (ngSubmit)="onSubmit()" -->
<form [formGroup]="formTask" class="task-form">
  <!-- Información principal -->
  <h3 class="text-muted">New Task</h3>
  <div class="main-info" formGroupName="mainInfo">
    
    <!-- Activity -->
    <mat-form-field class="activity" appearance="fill">
      <mat-label>Name</mat-label>
      <input type="text" name="activity" id="activity"
      matInput formControlName="activity">
      <div *ngIf="formTask.get('mainInfo.activity').dirty">
        <mat-error *ngIf="formTask.get('mainInfo.activity').hasError('required')">
          Required
        </mat-error>
        <mat-error *ngIf="!formTask.get('mainInfo.activity').hasError('required') && formTask.get('mainInfo.activity').hasError('invalidMinLength')">
          Minimum 3 characters
        </mat-error>
        <mat-error *ngIf="!formTask.get('mainInfo.activity').hasError('required') && formTask.get('mainInfo.activity').hasError('invalidMaxLength')">
          Maximum 255 characters
        </mat-error>
      </div>
    </mat-form-field>

    <!-- Type -->
    <mat-form-field class="type" appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select panelClass="task-form-select" name="type" id="type" formControlName="type">
        <mat-option *ngFor="let type of types" [value]="type">{{ type }}</mat-option>
      </mat-select>
      <div *ngIf="formTask.get('mainInfo.type').touched">
        <mat-error *ngIf="formTask.get('mainInfo.type').hasError('required')">
          Required
        </mat-error>
      </div>
    </mat-form-field>

    <!-- Price -->
    <mat-form-field class="price" appearance="fill">
      <mat-label>Price</mat-label>
      <input type="number" name="price" id="price" min="0" step="0.1"
        matInput formControlName="price">
      <span matSuffix>€</span>
      <div *ngIf="formTask.get('mainInfo.price').touched">
        <mat-error *ngIf="formTask.get('mainInfo.price').hasError('required')">
          Required
        </mat-error>
        <mat-error *ngIf="formTask.get('mainInfo.price').hasError('notANumber')">
          Not a valid price
        </mat-error>
        <mat-error *ngIf="formTask.get('mainInfo.price').hasError('negativeNumber')">
          Can't be negative
        </mat-error>
      </div>
    </mat-form-field>

    <!-- Participants -->
    <mat-form-field class="participants" appearance="fill">
      <mat-label>Number of Participants</mat-label>
      <input type="number" name="participants" id="participants"  min="0" step="1"
        matInput formControlName="participants">
      <div *ngIf="formTask.get('mainInfo.participants').touched">
        <mat-error *ngIf="formTask.get('mainInfo.participants').hasError('required')">
          Required
        </mat-error>
        <mat-error *ngIf="formTask.get('mainInfo.participants').hasError('notANumber')">
          Not a valid number
        </mat-error>
        <mat-error *ngIf="formTask.get('mainInfo.participants').hasError('negativeNumber')">
          Can't be negative
        </mat-error>
      </div>
    </mat-form-field>

  </div>

  <!-- Información no vital -->
  <div class="additional-info mt-4" formGroupName="additionalInfo">
    
    <!-- Link -->
    <mat-form-field class="link" appearance="fill">
      <mat-label>Link</mat-label>
      <input type="text" name="link" id="link"
      matInput formControlName="link">
      <div *ngIf="formTask.get('additionalInfo.link').touched">
        <mat-error *ngIf="formTask.get('additionalInfo.link').hasError('invalidURL')">
          Please enter a valid URL or leave it empty
        </mat-error>
      </div>
    </mat-form-field>
    
    <!-- Accesibility -->
    <!-- <mat-form-field class="accesibility" appearance="fill">
      <mat-label>Accesibility</mat-label>
      <input type="number" name="accesibility" id="accesibility"
        matInput formControlName="accesibility">
      <span matSuffix>€</span>
      <div *ngIf="formTask.get('additionalInfo.accesibility').touched">
        <mat-error *ngIf="formTask.get('additionalInfo.accesibility').hasError('invalidLength')">
          Please enter a valid email address
        </mat-error>
      </div>
    </mat-form-field> -->

  </div>
  
  <p class="mb-0 mt-4"><span [hidden]="formTask.valid">Fill all required fields before submitting</span>&nbsp;</p>
  <div class="form-buttons">
    <button 
    [disabled]="formTask.invalid"
    type="submit" 
    class="btn btn-success"
    (click)="onSubmit()">Submit</button>
    <button class="btn btn-secondary" (click)="onGoBack()">Go back</button>
  </div>
</form>