.error-msg {
  color: darkred;
  font-size: 12px;
}


.task-form {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;

  & .main-info, & .additional-info {
    display: flex;
    justify-content: center;
    gap: 20px;

    flex-wrap: wrap;

    & > * {
      flex-grow: 1;
    }

    & > .activity {
      min-width: 500px;
      flex-grow: 10;
    }

    & > .price, & > .participants {
      max-width: 180px;
    }
  }
  
  & .form-buttons {
    display: flex;
    gap: 10px;
  }

}

@media (max-width: 800px) {
  .task-form {
    & .main-info, & .additional-info {
      & > .activity {
        min-width: 100%;
      }
    }
    
    & button {
      width: fit-content;
    }
  
  }
}