nav {
    position: fixed;
    z-index: 1000;

    top: 0;
    left: 0;

    height: 100vh;
    width: 70px;

    background-color: rgb(201, 223, 255);

    display: flex;
    flex-direction: column;
}

nav .menu-logo {
    margin-bottom: 10vh;
}

nav .menu-button {
    padding: 12px;

    width: 100%;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    user-select: none;
}

nav .menu-button:hover {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

nav .menu-button:hover .svg-logo {
    fill: rgba(0, 83, 128, 0.755) !important;
}

nav .menu-button:active {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

nav .menu-button:active .svg-logo {
    fill: rgba(0, 83, 128, 1) !important;
    stroke: rgba(0, 83, 128, 1) !important;
}

nav .menu-button svg {
    max-width: 100%;
}

nav .menu-button.active {
    background-color: rgb(163, 191, 233);
}
