/* Estilos e importes globales en la aplicación */

/*-------------------------------------------------------------------------------------------------*/
/* GOOGLE FONTS */

/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap');
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');
/* Roboto Mono */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/*
Aplicar:
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
*/

/*-------------------------------------------------------------------------------------------------*/
/* ANGULAR MATERIAL */

html, body { height: 100%; max-width: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/** PERSONALIZAR ANGULAR **/
.mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
    opacity: 0.20 !important;
    /* transform: translateY(0px) !important; */
}

.cdk-overlay-container {
    position: fixed;
    z-index: 1005;
    width: 100vw;
    height: 100vh;
}

.mat-typography.github-repository-dialog {
    min-height: 45vh;
    height: fit-content !important;
    max-height: 70vh !important;
}

.mat-form-field-flex {
  border-radius: 0 !important;
  // box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #c9dfff57;
  box-shadow: 0 0 4px grey;
  text-align: center;
}

/*-------------------------------------------------------------------------------------------------*/
/* SWEET ALERTS 2 */

.colored-toast.swal2-icon-success.pink {
    background-color: #ff4986 !important;
    color: white;
  }

/*-------------------------------------------------------------------------------------------------*/
/* PERSONAL */

.loading-spinner {
    width: fit-content;
    margin: 2em auto;
}

.no-drag {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.flex-column-justify-self-end {
    margin-top: auto;
}

.svg-with-text {
    display: flex;
    gap: 8px;
    align-items: center;
}

.no-repos, .no-gists {
    transition: 1500ms fade-in ease-in-out;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
