/* Estilos e importes globales en la aplicación */

/*-------------------------------------------------------------------------------------------------*/
/* GOOGLE FONTS */

/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap');
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');
/* Roboto Mono */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/*
Aplicar: 
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
*/

/*-------------------------------------------------------------------------------------------------*/
/* ANGULAR MATERIAL */

html, body { height: 100%; max-width: 100%; overflow-x: hidden;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/** PERSONALIZAR ANGULAR **/
.mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
    opacity: 0.20 !important;
    /* transform: translateY(0px) !important; */
}

.cdk-overlay-pane {
    min-width: 80vw;
}

/*-------------------------------------------------------------------------------------------------*/
/* PERSONAL */

.loading-spinner {
    width: fit-content;
    margin: 2em auto;
}

.flex-column-justify-self-end {
    margin-top: auto;
}

.svg-with-text {
    display: flex;
    gap: 8px;
    align-items: center;
}

