<!-- TITULO EN MEDIO
OPCIONES:
- Mostrar mini aplicaciones
- Mostrar qué se ha utilizado -->
<div class="home-background"></div>

<div class="displays">
  <!-- Portada inicio -->
  <div class="home-content">
    <h3 id="author">DANIEL TAMARGO</h3>
    <h1 id="app-title">ANGULAR</h1>
    <br><br>

    <h3>App developed in order to learn everything about <a target="_blank" href="https://angular.io/">Angular</a></h3>
    <br>

    <!-- <h4>Hi! I'm <b>Daniel Tamargo</b> and this is my Angular teaser.<br>What do you want to know about this project?</h4> -->

    <div class="cards">
      <div class="info-card techs">
        <app-info-card
        title="Technologies used"
        description="Check out which stuff did I use!"
        ></app-info-card>
      </div>
      <div class="info-card projects">
        <app-info-card
        title="What does this project contain"
        description="Which miniapps are built inside this project"
        ></app-info-card>
      </div>
      <div class="info-card about-me">
        <app-info-card
        title="Who is Daniel Tamargo?"
        description="Wanna know a bit more about me?"
        ></app-info-card>
      </div>
    </div>
  </div>

  <!-- Tecnologías utilizadas -->
  <div class="technologies">
    <h3 class="technologies_title">Technologies used</h3>
    <br>
    <div class="technologies_content">
      <p>I wanted to start developing my own projects as web developer in order to get better.<br>
        I realized that in Spain tons (literally, tons) of companies are looking for <b>frontend developers</b> and <b>Angular</b> was one of the most requested.</p>
      <p>As I said, my objective was to leave my comfort zone and try new things. So... What did I use?</p>

      <div class="technologies_content_details">
        <h5 class="technologies_content_details_header">Framework</h5>
        <p class="technologies_content_details_text">
          <a href="https://angular.io/" target="_blank">Angular</a> was my choice and I tried to use all its features like angular animations, services, guards, canActivate, canDeactivate, custom pipes, routes, modules...<br>
          Also it was a perfect oportunity to learn more <a href="https://www.typescriptlang.org/" target="_blank">TypeScript</a>.</p>
      </div>

      <div class="technologies_content_details">
        <h5 class="technologies_content_details_header">App State</h5>
        <ul class="technologies_content_details_text">
          <li><a href="https://rxjs.dev/" target="_blank">RxJS</a>: observables, observers, operators... hard at the beggining, loved it at the end!</li>
          <li><a href="https://ngrx.io/" target="_blank">NgRx</a>: wanted to learn about this Angular's Redux version so I decided to use it in one of the three mini-apps</li>
        </ul>
      </div>

      <div class="technologies_content_details">
        <h5 class="technologies_content_details_header">Style</h5>
        <ul class="technologies_content_details_text">
          <li><a href="https://sass-lang.com/" target="_blank">SASS</a>: applying cool styles was not the objective here but Sass is such a powerful way to develop CSS</li>
          <li><a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>: fast styling with this classic toolkit</li>
          <li><a href="https://material.angular.io/" target="_blank">Angular Material</a>: best way to have cool visual and useful components already built</li>
        </ul>
      </div>

      <div class="technologies_content_details">
        <h5 class="technologies_content_details_header">Libraries</h5>
        <ul class="technologies_content_details_text">
          <li><a href="https://openlayers.org/" target="_blank">Open Layers</a>: loading map and its layers (awesome library! an alternative would be <a href="https://leafletjs.com/" target="_blank">Leaflet</a>)</li>
          <li><a href="https://github.com/angular/angularfire" target="_blank">AngularFire</a>: to implement firebase with Angular in a easy way</li>
          <li><a href="https://github.com/RaphaelJenni/firebaseui-angular" target="_blank">FirebaseUI-Angular</a>: fast login screen for firebase</li>
        </ul>
      </div>

      <div class="technologies_content_details">
        <h5 class="technologies_content_details_header">APIs</h5>
        <ul class="technologies_content_details_text">
          <li><a href="https://docs.github.com/en/rest" target="_blank">GitHub</a>: open API used to scout profile's surface</li>
          <li><a href="https://data.opendatasoft.com/api/v2/console" target="_blank">OpenDataSoft</a>: used to load GeoJSONs as feature layers for the maps</li>
          <li><a href="https://www.boredapi.com/" target="_blank">Bored API</a>: are you bored? this API gives you random activities to do!</li>
        </ul>
      </div>

    </div>
  </div>

  <!-- Apps en el proyecto -->
  <div class="apps">
    <h3 class="apps_title">APPs inside this project</h3>
    <p class="apps_text">You can find 3 mini-apps inside this project</p>

    <div class="apps_content">
      <div class="apps_content_info">
        <h4 class="apps_content_info_github" routerLink="/github">GitHub Profile Scouter</h4>
        <p>Use this mini-app to check user profile's basic info, repos, gists, followers and followings</p>
        <p>You can display repository's info and check how many commits it have and who were the contributors to the repo.</p>
      </div>

      <div class="apps_content_info">
        <h4 class="apps_content_info_tasklist" routerLink="/tasklist">Tasklist</h4>
        <p>The classic TODO mini-app. You can create tasks, delete or mark them as completed or even get a random one.</p>
        <p>You have to log in in order to use this app, so you can check your tasks from any device!</p>
      </div>

      <div class="apps_content_info">
        <h4 class="apps_content_info_map" routerLink="/map">Map</h4>
        <p>Wanna know which autonomous communities are in Spain?</p>
        <p>Go ahead and use this mini app! Use the panel and load any autonomous cumminity (or go big and load them all!)</p>
        <p>This app was a great way to learn basics about <b>GIS</b> (like WMS, WMTS, OSM, EPG projections, GeoJSON...)</p>
      </div>
    </div>

  </div>

  <!-- Sobre mí -->
  <div class="about-me">
    <h3 class="about-me_title">About me</h3>
    <div class="about-me_content">
      <p>Hey hey hey!! Thanks for taking a look on my <code>small-but-learned-a-lot</code> project web app!</p>
      <p>If you're interested, <a href="https://github.com/DanielTamargo/angular-app" target="_blank">you can find source code here</a>.</p>
      <br>
      <p>These are some other languages and softwares/frameworks I already used for APP development:<br>PHP (Laravel), Swift (Xcode), C# (Unity and ASP.NET), Java (Multithread Desktop Apps), Python (Pandas, PowerBI), etc!</p>
      <br>
      <p>I'll be updating my info on my:</p>
      <div class="about-me_content_contact">
        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><title>Logo Github</title><path d="M256 32C132.3 32 32 134.9 32 261.7c0 101.5 64.2 187.5 153.2 217.9a17.56 17.56 0 003.8.4c8.3 0 11.5-6.1 11.5-11.4 0-5.5-.2-19.9-.3-39.1a102.4 102.4 0 01-22.6 2.7c-43.1 0-52.9-33.5-52.9-33.5-10.2-26.5-24.9-33.6-24.9-33.6-19.5-13.7-.1-14.1 1.4-14.1h.1c22.5 2 34.3 23.8 34.3 23.8 11.2 19.6 26.2 25.1 39.6 25.1a63 63 0 0025.6-6c2-14.8 7.8-24.9 14.2-30.7-49.7-5.8-102-25.5-102-113.5 0-25.1 8.7-45.6 23-61.6-2.3-5.8-10-29.2 2.2-60.8a18.64 18.64 0 015-.5c8.1 0 26.4 3.1 56.6 24.1a208.21 208.21 0 01112.2 0c30.2-21 48.5-24.1 56.6-24.1a18.64 18.64 0 015 .5c12.2 31.6 4.5 55 2.2 60.8 14.3 16.1 23 36.6 23 61.6 0 88.2-52.4 107.6-102.3 113.3 8 7.1 15.2 21.1 15.2 42.5 0 30.7-.3 55.5-.3 63 0 5.4 3.1 11.5 11.4 11.5a19.35 19.35 0 004-.4C415.9 449.2 480 363.1 480 261.7 480 134.9 379.7 32 256 32z"/></svg>
        <a href="https://www.linkedin.com/in/daniel-tamargo-saiz/" target="_blank">GitHub profile</a>
      </div>
      <div class="about-me_content_contact">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><title>Logo Linkedin</title><path d="M444.17 32H70.28C49.85 32 32 46.7 32 66.89v374.72C32 461.91 49.85 480 70.28 480h373.78c20.54 0 35.94-18.21 35.94-38.39V66.89C480.12 46.7 464.6 32 444.17 32zm-273.3 373.43h-64.18V205.88h64.18zM141 175.54h-.46c-20.54 0-33.84-15.29-33.84-34.43 0-19.49 13.65-34.42 34.65-34.42s33.85 14.82 34.31 34.42c-.01 19.14-13.31 34.43-34.66 34.43zm264.43 229.89h-64.18V296.32c0-26.14-9.34-44-32.56-44-17.74 0-28.24 12-32.91 23.69-1.75 4.2-2.22 9.92-2.22 15.76v113.66h-64.18V205.88h64.18v27.77c9.34-13.3 23.93-32.44 57.88-32.44 42.13 0 74 27.77 74 87.64z"/></svg>
        <a href="https://www.linkedin.com/in/daniel-tamargo-saiz/" target="_blank">LinkedIn profile</a>
      </div>
      <div class="about-me_content_contact">
        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><title>Diamond</title><path d="M35.42 188.21l207.75 269.46a16.17 16.17 0 0025.66 0l207.75-269.46a16.52 16.52 0 00.95-18.75L407.06 55.71A16.22 16.22 0 00393.27 48H118.73a16.22 16.22 0 00-13.79 7.71L34.47 169.46a16.52 16.52 0 00.95 18.75zM48 176h416" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M400 64l-48 112-96-128M112 64l48 112 96-128M256 448l-96-272M256 448l96-272"/></svg>
        <a>Website coming soon..</a>
      </div>


      <br>
      <p>Any tips about app developing in general are super welcome! I'm always looking for ways to improve</p>
      <p>Developing this personal project was challenging but exciting, can't wait for next one!</p>
    </div>
  </div>
</div>

