/* Home - Fondo */
.home-background {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -100;
  // background-color: #5584AC;
}

// ------------------------------------------------------
/* Home - Tratar las displays como páginas */

.displays {
  width: 100%;

  & > div {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 70px;
    padding-inline: 10px;

    margin-top: 10vh;
    width: calc(100% - 70px);

    user-select: none;

    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    // justify-content: center;

    font-family: 'Oswald', sans-serif;
  }
}

@media (max-width: 450px) {

  .displays > div {
    margin-left: 0;
    margin-top: 10vh;
    width: 100%;
  }
}


//
/* Home - Tecnologías */
.technologies {
  &_title {
    font-weight: bold;
    font-size: 2.5em;
  }

  &_content {
    max-width: 1000px;
    padding-inline: 20px;

    font-family: Roboto;

    &_details {
      background-color: whitesmoke;
      overflow: hidden;

      max-height: 2.5em;
      transition: all 250ms ease-in-out;

      margin-bottom: 1em;

      &.selected {
        height: auto;
        max-height: fit-content;
      }

      & > * {
        padding: 8px;
      }

      &_header {
        width: 100%;
        background-color: #2f2f2f;
        color: whitesmoke;
        cursor: pointer;


        &:hover {
          background-color: #505050;
        }
        &:active {
          background-color: #2f2f2f;
        }
      }

      &_text {
        li {
          padding-left: 1em;
          &::before {
            content: '> ';

          }
        }
      }

    }

  }
}


// ------------------------------------------------------
/* Home - Portada */
$info-card-transition-duration: 300ms;
$info-card-transition-timing-function: ease-in;

.home-content {
  display: none !important; // TODO remove

  & > * {
    padding: 0;
    margin: 0;

    text-align: center;
  }
  & > h1#app-title {
    font-weight: bold;
    font-size: 10vw;
    letter-spacing: 0.5vw;
    line-height: 0.7;
  }
  & > h3#author {
    margin-bottom: 0;
    font-size: 5vw;
    letter-spacing: 0.7vw;
    line-height: 1em;
  }

  .cards {
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
  }
  .info-card {
    position: relative;
    padding: 1em;
    cursor: pointer;
    margin-top: 1em;

    align-self: stretch;
    text-align: start;

    transition: $info-card-transition-duration $info-card-transition-timing-function;

    border-top: 4px solid;
    background-color: whitesmoke;
    box-shadow: 0 0 5px 0.5px black;

    &:nth-child(odd)::before {
      transform: scale(0) translateY(-40%) rotate(45deg);
      left: 0;
    }
    &:nth-child(even)::before {
      transform: scale(0) translateY(-40%) rotate(-45deg);
      right: 0;
    }

    &::before {
      content: ' ';
      background-image: url(../../assets/img/icons/arrow-up-outline.svg);
      background-repeat: no-repeat;
      background-position: center;

      position: absolute;
      height: 100%;
      min-width: 30px;

      display: flex;
      align-items: center;

      transition: $info-card-transition-duration $info-card-transition-timing-function;
    }

    &:hover {
      transform: scale(1.1);

      &:nth-child(even) {
        &::before {
          transform: scale(1) translateY(-15%) rotate(-90deg);
          right: 10px;
        }
      }
      &:nth-child(odd) {
        &::before {
          transform: scale(1) translateY(-15%) rotate(90deg);
          left: 10px;
        }
      }
    }

    &.technologies {
      border-color: #ee8128;
    }
    &.projects {
      border-color: #113f94;
    }
    &.about-me {
      border-color: #197219;
    }

  }
}

@media (min-width: 640px) {
  .cards {
    width: 70% !important;

    & .info-card {
      &:nth-child(even) {
        align-self: flex-end;
        text-align: end;
      }
      &:nth-child(odd) {
        align-self: flex-start;
      }
      &:nth-child(even):hover {
        padding-right: 50px;
      }
      &:nth-child(odd):hover {
        padding-left: 50px;
      }
    }
  }
}

@media (max-width: 640px) {
  .info-card::before {
    display: none !important;
  }
}

@media (max-width: 450px) {
  .home-content {
    & > h1#app-title {
      font-size: 20vw;
      letter-spacing: 0.5vw;
    }
    & > h3#author {
      font-size: 10vw;
      letter-spacing: 1.15vw;
    }
  }

}
