<!-- TITULO EN MEDIO
OPCIONES:
- Mostrar mini aplicaciones
- Mostrar qué se ha utilizado -->
<div class="home-content">
  <h3 id="author">DANIEL TAMARGO</h3>
  <h1 id="app-title">ANGULAR</h1>
  <br><br>

  <h3>App developed in order to learn everything about <a target="_blank" href="https://angular.io/">Angular</a></h3>
  <br>

  <h4>Hi! I'm <b>Daniel Tamargo</b> and this is my Angular teaser.<br>What do you want to know about this project?</h4>

  <div class="cards">
    <div class="info-card">
      <h3>Technologies used</h3>
      <h5>Check out which libraries did I use!</h5>
    </div>
    <div class="info-card">
      <h3>What does this project contain</h3>
      <h5>Which miniapps are built inside this project</h5>
    </div>
    <div class="info-card">
      <h3>Who is Daniel Tamargo?</h3>
      <h5>Wanna know a bit more about me?</h5>
    </div>
  </div>
</div>
