.home-background {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -100;
  // background-color: #5584AC;
}

.home-content {
  user-select: none;

  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  // justify-content: center;

  font-family: 'Oswald', sans-serif;

  margin-top: 10vh;
  width: 100%;

  & > * {
    padding: 0;
    margin: 0;

    text-align: center;
  }
  & > h1#app-title {
    font-weight: bold;
    font-size: 10vw;
    letter-spacing: 0.5vw;
    line-height: 0.7;
  }
  & > h3#author {
    margin-bottom: 0;
    font-size: 5vw;
    letter-spacing: 0.7vw;
    line-height: 1em;
  }

  .cards {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .info-card {
    padding: 1em;
    cursor: pointer;
    margin-top: 1em;

    align-self: stretch;
    text-align: start;

    transition: 300ms ease-in;

    border-top: 4px solid;
    background-color: whitesmoke;

    &:hover {
      transform: scale(1.1);
    }



    &.technologies {
      border-color: #ee8128;
    }
    &.projects {
      border-color: #113f94;
    }
    &.about-me {
      border-color: #197219;
    }


  }
}

@media (min-width: 640px) {
  .cards {
    width: 70% !important;

    & .info-card {
      &:nth-child(even) {
        align-self: flex-end;
        text-align: end;
      }
      &:nth-child(odd) {
        align-self: flex-start;
      }
      &:nth-child(even):hover {
        padding-right: 50px;
      }
      &:nth-child(odd):hover {
        padding-left: 50px;
      }
    }
  }
}

@media (max-width: 450px) {
  .home-content {
    & > h1#app-title {
      font-size: 20vw;
      letter-spacing: 0.5vw;
    }
    & > h3#author {
      font-size: 10vw;
      letter-spacing: 1.15vw;
    }
  }

}
